body {
    margin: 0;
    padding: 0;
    background-image: url("ycpBackground.jpg");
    background-color: #cccccc;
  
}

#loginBox {
    margin: auto;
    padding: 10px; 
    width: 300px;
    height: 400px;
    text-align: center;
    background: #669e62;
    background-image: url("Potato.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}