body {
    margin: 0;
    padding: 0;
    background-image: url("ycpBackground.jpg");
    background-color: #cccccc;
  
}

#loginBox {
    margin: auto;
    margin-top: 100px;
    padding: 10px; 
    width: 300px;
    height: 370px;
    text-align: center;
    background: #e1eae2;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    border-radius: 25px;
}

#input {
    width: 235px;
    height: 24px;
    font-size: 16px;
    border: 0px;
}

#submit {
    background-color:black;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 160px;
    height: 35px;
    border-radius: 35px;
    border: 0px;
}

.label {
    font-size: 20px;
}
