html{
    margin-top: 20px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 20px;
    background-image: url("payVoucherBackground.jpg");
	background-size: 1920px 1325px;
	background-position: center;
}

body {
	width: 900px;
	margin: auto;
	border: 2px solid #e1eae2;
	border-radius: 20px;
	border-height: 12px;
	background-color: #e1eae2;
}

.Header{
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.studentInfo {
	padding: 15px;
    width: 240px;
    font-size: 20px;
    text-align: left;
    float: left;
    margin-left: 62px;
}

.dueDate{
    padding: 15px;
    width: 240px;
    font-size: 20px;
    text-align: left;
    float: right;
}

table{
	margin: auto;
    width: 85%;
    margin-top: 0px;
}

form {
	margin: auto;
	text-align: center;
}

input[type='text'] {
	border: none;
	background: none;
	width: 175px;
	border-bottom: solid 1px #000000;
}

input {
	text-align: center;
}

th, td{
    padding: 8px;
    text-align: center;
}

#addRow {
	margin: auto;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

.payInfo{
    padding: 5px;
    margin: 0;
    position: relative;
    text-align:center;
}

#back {
	float: left;
	margin-top: -42px;
	margin-left: 55px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#update {
	margin-left: 235px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#submit{
	float: right;
	margin-right: 50px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#sign{
	float: right;
	margin-right: 50px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}