html, body {
	margin: 0px;
	padding: 0px;
	position: relative;
}

.super-class {
	top: 0;
	width: 100%;
	position: relative;
}

.background-image {
	position: absolute;
	z-index: 0;
	background-image: url("payVoucherBackground.jpeg");
	background-size: cover;
	min-width: 900px;
	min-height: 1045px;
	filter: blur(7px);
}

.content {
	position: absolute;
	z-index: 1;
 	left: 50%;
 	margin-left: -450px;
	width: 900px;
	border: 2px solid #e1eae2;
	border-radius: 20px;
	border-height: 12px;
	background-color: #e1eae2;
	margin-top: 30px;
}

.Header{
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.studentInfo {
	padding: 15px;
    width: 240px;
    font-size: 20px;
    text-align: left;
    float: left;
    margin-left: 62px;
}

.dueDate{
    padding: 15px;
    width: 240px;
    font-size: 20px;
    text-align: left;
    float: right;
}

table{
	margin: auto;
    width: 85%;
    margin-top: 0px;
}

form {
	margin: auto;
	text-align: center;
}

input[type='text'] {
	border: none;
	background: none;
	width: 175px;
	border-bottom: solid 1px #000000;
}

input {
	text-align: center;
}

th, td{
    padding: 8px;
    text-align: center;
}

#addRow {
	margin: auto;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

.payInfo{
    padding: 5px;
    margin: 0;
    position: relative;
    text-align:center;
}

#back {	
	margin-top: 30px;
	left: 50%;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#update {
	position: relative;
	left: 0%;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#submit{
	float: right;
	margin-right: 50px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

#sign{
	float: right;
	margin-right: 50px;
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

.export {
	float: left;
	margin-left: 50px;
	background-color: black;
	color: white;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}

.error {
	color: red;
	text-align: center;
}

