html {
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15px;
    background-image: url("searchBackground.jpg");
	background-size: 1920px 1325px;
	background-position: center;
}

body {
	width: 920px;
	margin: auto;
	border: 2px solid #e1eae2;
	border-radius: 20px;
	background-color: #e1eae2;
}

.Header{
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.search{
	margin: auto;
	text-align: center;
    margin-top: 15px;
    border: 2px solid black;
    width: 550px;
    height: 45px;
    border-radius: 25px;
}

#searchBox {
	margin-top: -5px;
	width: 460px;
	height: 38px;
	font-size: 25px;
	border: none;
	background: none;
}

#searchBTN{
 	font-size: 35px;
	border: none;
	background: none;
}

.gwt-TextBox{
    padding: 5x 4px;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}


#addTutor {
	float: right;
	margin-right: 24px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 125px;
	border-radius: 35px;
	border: 0px;
}

table{
	margin: auto;
    width: 100%;
    margin-top: 35px;
}

#view { 
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 31px;
	width: 79px;
	border-radius: 35px;
	border: 0px;
}

th, td{
    padding: 10px;
    text-align: center;
}

.pageNum {
 	margin-top: -18px;
    padding: 10px;
    text-align: center;
}

#assignVoucher {
	float: left;
	margin-left: 34px;
	width: 150px;
	text-align: center;
}

#assignVoucherText {
	margin: auto;
	margin-left: 15px;
	text-align: center;
	border: none;
	background: none;
	border-bottom: 1px solid black;
}

#assignVoucherDate {
	margin-left: 25px;
}

#assignVoucherBtn {
	float: left;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}