html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.super-class {
	top: 0;
	width: 100%;
	height: 90%;
	position: relative;
}

.background-image {
	position: absolute;
	z-index: 0;
	background-image: url("searchBackground.jpg");
	min-width: 900px;
	min-height: 1000px;
	filter: blur(5px);
}

.content {
	position: absolute;
	z-index: 1;
 	left: 50%;
 	margin-left: -465px;
	width: 930px;
	height: 830px;
	border: 2px solid #e1eae2;
	border-radius: 20px;
	background-color: #e1eae2;
	margin-top: 30px;
}

.Header{
    text-align: center;
    margin: 0px;
    font-size: 50px;
}

.search{
	margin: auto;
	text-align: center;
    margin-top: 15px;
    border: 2px solid black;
    width: 550px;
    height: 55px;
    border-radius: 30px;
}

#searchBox {
	width: 450px;
	height: 40px;
	font-size: 28px;
	border: none;
	background: none;
}

#searchBTN{
 	font-size: 35px;
 	height: 49px;
	border: none;
	background: none;
}

#logout {
	float: left;
	margin-top: 26px;
	margin-left: 42px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 38px;
	width: 95px;
	border-radius: 35px;
	border: 0px;
}

#key {
	margin: -99px;
	margin-right: 17px;
	float: right;
}

.successAdd {
	margin: auto;
	margin-top: 25px;
	text-align: center;
	font-size: 20px;
}

#addTutor {
	float: right;
	margin-right: 24px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 125px;
	border-radius: 35px;
	border: 0px;
}

#editTutor {
	float: right;
	margin-right: -125px;
	margin-top: 35px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 125px;
	border-radius: 35px;
	border: 0px;
}

table{
	margin: auto;
    width: 100%;
    margin-top: 20px;
}

.table {
	margin-top: 10px;
	max-height: 440px;
}

#view { 
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 31px;
	width: 79px;
	border-radius: 35px;
	border: 0px;
}

th, td{
    padding: 10px;
    text-align: center;
}

#name{
   	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 31px;
	width: 120px;
	border-radius: 35px;
	border: 0px;
}

#subject {
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 31px;
	width: 105px;
	border-radius: 35px;
	border: 0px;
}

#date {
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 31px;
	width: 100px;
	border-radius: 35px;
	border: 0px;
}

.error {
	margin: auto;
	text-align: center;
	font-size: 20px;
	height: 25px;
	color: #ff0000;
}

.pageNum {
 	margin-top: -8px;
    padding: 10px;
    text-align: center;
}
	
#previousPageBtn, #nextPageBtn {
	font-size: 18px;
}

#assignVoucher {
	float: left;
	width: 517px;
	text-align: center;
}

#assignVoucherText {
	margin: auto;
	margin-left: 1px;
	text-align: center;
	border: none;
	background: none;
	border-bottom: 1px solid black;
}

.date1, .date2 {
	display: inline-block;
	margin-left: -20px;
}
	
#assignVoucherDate {
	margin-left: 10px;
}

#assignVoucherBtn {
	float: left;
	margin-left: 34px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}
#tutorPageBtn {
	float: left;
	margin-left: 34px;
	background-color: black;
	color: white;
	font-size: 15px;
	text-align: center;
	height: 42px;
	width: 185px;
	border-radius: 35px;
	border: 0px;
}
#radio {
	margin-top: 30px;
	margin-left: -86px;
	height: 17px;
}

#edit-tutor-name {
	border: none;
	background: none;
	border-bottom: 1px solid black;
	text-align: center;
}

.editTutorText {
	position: absolute;
	top: 800px;
	left: 760px;
}

#editing-tutor {
	float: right;
	width: 125px;
	margin-top: 97px;
	margin-right: -129px;
	border: none;
	background: none;
	border-bottom: 1px solid black;
	text-align: center;
}
